Package: shadowsocksr-libev
Version: 2.5.6-1
Depends: libc, libopenssl, libpcre, libpthread, zlib
Source: package/custom-package/shadowsocksr-libev
Section: net
Maintainer: breakwa11
Architecture: mipsel_24kec_dsp
Installed-Size: 257762
Description:  ShadowsocksR-libev is a lightweight secured socks5 proxy for embedded devices and low end boxes.
