Package: libpng
Version: 1.2.57-1
Depends: libc, zlib
Source: feeds/packages/libs/libpng
License: Libpng GPL-2.0+ BSD-3-Clause
Section: libs
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: mipsel_24kec_dsp
Installed-Size: 117746
Description:  A PNG format files handling library
