Package: libgcc
Version: 4.8-linaro-1
Source: package/toolchain
Section: libs
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: mipsel_24kec_dsp
Installed-Size: 31145
Description:  GCC support library
