Package: libiconv
Version: 8
Depends: libc
Source: feeds/base/package/libs/libiconv
License: LGPL-2.1
LicenseFiles: LICENSE
Section: libs
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: mipsel_24kec_dsp
Installed-Size: 168
Description:  Tiny drop-in replacement for the GNU Character set conversion library
