Package: shadowsocksr-libev-server
Version: 2.5.6-1
Depends: libc, libopenssl, libpthread, libpcre, zlib
Source: package/custom-package/shadowsocksr-libev
Section: net
Maintainer: breakwa11
Architecture: mipsel_24kec_dsp
Installed-Size: 94264
Description:  ShadowsocksR-libev is a lightweight secured socks5 proxy for embedded devices and low end boxes.
